src/drrs/server/campus.wsdl

<!--  Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e.  -->
<!--  Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e.  -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://campusservice.server.drrs/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://campusservice.server.drrs/" name="CampusServerImplService">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="http://127.0.0.1:8080/WST?xsd=1"/>
        </xsd:schema>
    </types>
    <message name="changeReservation">
        <part name="arg0" type="xsd:string"/>
        <part name="arg1" type="xsd:string"/>
        <part name="arg2" type="xsd:int"/>
        <part name="arg3" type="xsd:string"/>
    </message>
    <message name="changeReservationResponse">
        <part name="return" type="xsd:string"/>
    </message>
    <message name="getAvailableTimeSlot">
        <part name="arg0" type="xsd:string"/>
    </message>
    <message name="getAvailableTimeSlotResponse">
        <part name="return" type="xsd:string"/>
    </message>
    <message name="deleteRoom">
        <part name="arg0" type="xsd:int"/>
        <part name="arg1" type="xsd:string"/>
        <part xmlns:ns1="http://jaxb.dev.java.net/array" name="arg2" type="ns1:stringArray"/>
    </message>
    <message name="deleteRoomResponse">
        <part name="return" type="xsd:string"/>
    </message>
    <message name="createRoom">
        <part name="arg0" type="xsd:int"/>
        <part name="arg1" type="xsd:string"/>
        <part xmlns:ns2="http://jaxb.dev.java.net/array" name="arg2" type="ns2:stringArray"/>
    </message>
    <message name="createRoomResponse">
        <part name="return" type="xsd:string"/>
    </message>
    <message name="bookRoom">
        <part name="arg0" type="xsd:string"/>
        <part name="arg1" type="xsd:string"/>
        <part name="arg2" type="xsd:int"/>
        <part name="arg3" type="xsd:string"/>
        <part name="arg4" type="xsd:string"/>
    </message>
    <message name="bookRoomResponse">
        <part name="return" type="xsd:string"/>
    </message>
    <message name="cancelBooking">
        <part name="arg0" type="xsd:string"/>
    </message>
    <message name="cancelBookingResponse">
        <part name="return" type="xsd:string"/>
    </message>
    <portType name="ICampus">
        <operation name="changeReservation" parameterOrder="arg0 arg1 arg2 arg3">
            <input wsam:Action="http://campusservice.server.drrs/ICampus/changeReservationRequest" message="tns:changeReservation"/>
            <output wsam:Action="http://campusservice.server.drrs/ICampus/changeReservationResponse" message="tns:changeReservationResponse"/>
        </operation>
        <operation name="getAvailableTimeSlot">
            <input wsam:Action="http://campusservice.server.drrs/ICampus/getAvailableTimeSlotRequest" message="tns:getAvailableTimeSlot"/>
            <output wsam:Action="http://campusservice.server.drrs/ICampus/getAvailableTimeSlotResponse" message="tns:getAvailableTimeSlotResponse"/>
        </operation>
        <operation name="deleteRoom" parameterOrder="arg0 arg1 arg2">
            <input wsam:Action="http://campusservice.server.drrs/ICampus/deleteRoomRequest" message="tns:deleteRoom"/>
            <output wsam:Action="http://campusservice.server.drrs/ICampus/deleteRoomResponse" message="tns:deleteRoomResponse"/>
        </operation>
        <operation name="createRoom" parameterOrder="arg0 arg1 arg2">
            <input wsam:Action="http://campusservice.server.drrs/ICampus/createRoomRequest" message="tns:createRoom"/>
            <output wsam:Action="http://campusservice.server.drrs/ICampus/createRoomResponse" message="tns:createRoomResponse"/>
        </operation>
        <operation name="bookRoom" parameterOrder="arg0 arg1 arg2 arg3 arg4">
            <input wsam:Action="http://campusservice.server.drrs/ICampus/bookRoomRequest" message="tns:bookRoom"/>
            <output wsam:Action="http://campusservice.server.drrs/ICampus/bookRoomResponse" message="tns:bookRoomResponse"/>
        </operation>
        <operation name="cancelBooking">
            <input wsam:Action="http://campusservice.server.drrs/ICampus/cancelBookingRequest" message="tns:cancelBooking"/>
            <output wsam:Action="http://campusservice.server.drrs/ICampus/cancelBookingResponse" message="tns:cancelBookingResponse"/>
        </operation>
    </portType>
    <binding name="CampusServerImplPortBinding" type="tns:ICampus">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
        <operation name="changeReservation">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://campusservice.server.drrs/"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://campusservice.server.drrs/"/>
            </output>
        </operation>
        <operation name="getAvailableTimeSlot">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://campusservice.server.drrs/"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://campusservice.server.drrs/"/>
            </output>
        </operation>
        <operation name="deleteRoom">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://campusservice.server.drrs/"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://campusservice.server.drrs/"/>
            </output>
        </operation>
        <operation name="createRoom">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://campusservice.server.drrs/"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://campusservice.server.drrs/"/>
            </output>
        </operation>
        <operation name="bookRoom">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://campusservice.server.drrs/"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://campusservice.server.drrs/"/>
            </output>
        </operation>
        <operation name="cancelBooking">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://campusservice.server.drrs/"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://campusservice.server.drrs/"/>
            </output>
        </operation>
    </binding>
    <service name="CampusServerImplService">
        <port name="CampusServerImplPort" binding="tns:CampusServerImplPortBinding">
            <soap:address location="http://127.0.0.1:8080/WST"/>
        </port>
        <port name="CampusServerDVLImplPort" binding="tns:CampusServerImplPortBinding">
            <soap:address location="http://127.0.0.1:8080/DVL"/>
        </port>
        <port name="CampusServerKKLImplPort" binding="tns:CampusServerImplPortBinding">
            <soap:address location="http://127.0.0.1:8080/KKL"/>
        </port>
    </service>
</definitions>